---
services:
  broker:
    image: apache/kafka:4.2.1
    container_name: broker
    restart: unless-stopped
    ports:
      - '9092:9092'
    volumes:
      - kafka:/var/lib/kafka/data
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: >
        CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: >
        PLAINTEXT_HOST://localhost:9092,PLAINTEXT://broker:19092
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@broker:29093'
      KAFKA_LISTENERS: >
        CONTROLLER://:29093,PLAINTEXT_HOST://:9092,PLAINTEXT://:19092
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_SHARE_COORDINATOR_STATE_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_SHARE_COORDINATOR_STATE_TOPIC_MIN_ISR: 1
      KAFKA_LOG_DIRS: '/var/lib/kafka/data'
      CLUSTER_ID: '5iZbufNRRAKzFnidyiNIhA'
    healthcheck:
      test:
        - 'CMD-SHELL'
        - >
          /opt/kafka/bin/kafka-topics.sh --bootstrap-server
          localhost:19092 --list >/dev/null 2>&1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s

  db:
    image: postgres:18.4
    container_name: db
    restart: unless-stopped
    ports:
      - '5432:5432'
    volumes:
      - postgres:/var/lib/postgresql
      - ./postgres:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_USER: {{ postgres_user }}
      POSTGRES_PASSWORD: {{ postgres_password }}
      POSTGRES_DB: 'commitflow'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U {{ postgres_user }} -d commitflow']
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s

  grafana:
    image: grafana/grafana:12.2
    container_name: grafana
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    ports:
      - '3000:3000'
    volumes:
      - grafana:/var/lib/grafana
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
    environment:
      GF_SECURITY_ADMIN_USER: {{ grafana_user }}
      GF_SECURITY_ADMIN_PASSWORD: {{ grafana_password }}
      GF_DATABASE_TYPE: 'postgres'
      GF_DATABASE_HOST: 'db:5432'
      GF_DATABASE_NAME: 'grafana'
      GF_DATABASE_USER: {{ postgres_user }}
      GF_DATABASE_PASSWORD: {{ postgres_password }}
      GF_DATABASE_SSL_MODE: 'disable'
    healthcheck:
      test: ['CMD-SHELL', 'curl -f http://localhost:3000/api/health']
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s

  grafana-bootstrap:
    image: curlimages/curl:latest
    container_name: grafana-bootstrap
    depends_on:
      grafana:
        condition: service_healthy
    restart: 'no'
    volumes:
      - ./grafana/dashboards/git-commits.yml:/git-commits.yml:ro
    environment:
      GRAFANA_URL: http://grafana:3000
    entrypoint: >
      sh -c '
        echo "Importing dashboard...";
        curl --fail \
          -X POST \
          -u {{ grafana_user }}:{{ grafana_password }} \
          -H "Content-Type: application/yaml" \
          --data-binary @/git-commits.yml \
          $$GRAFANA_URL/apis/dashboard.grafana.app/v2beta1/namespaces/default/dashboards;
      '

  commitflow-consumer:
    image: 761018874759.dkr.ecr.eu-central-1.amazonaws.com/commitflow:latest
    container_name: commitflow-consumer
    depends_on:
      broker:
        condition: service_healthy
      db:
        condition: service_healthy
    environment:
      KAFKA_BOOTSTRAP_SERVER: "broker:19092"
      POSTGRES_URL: "postgres://{{ postgres_user }}:{{ postgres_password }}@db:5432/commitflow?sslmode=disable"
    entrypoint: consumer

  commitflow-producer:
    image: 761018874759.dkr.ecr.eu-central-1.amazonaws.com/commitflow:latest
    container_name: commitflow-producer
    depends_on:
      broker:
        condition: service_healthy
    environment:
      KAFKA_BOOTSTRAP_SERVER: "broker:19092"
      GITHUB_PAT: {{ github_pat }}
      GITLAB_PAT: {{ gitlab_pat }}
    entrypoint: producer -bootstrap

volumes:
  kafka: {}
  postgres: {}
  grafana: {}
