# REQUIRED VARIABLES FOR YOU TO FILL OUT
GITHUB_PAT=""
GITLAB_PAT=""

# SYSTEM VARIABLES
KAFKA_BOOTSTRAP_SERVER="localhost:9092"
POSTGRES_URL="postgres://postgres:password@localhost:5432/commitflow?sslmode=disable"
