# REQUIRED VARIABLES FOR YOU TO FILL OUT
GITHUB_PAT=""
GITLAB_PAT=""

# SYSTEM VARIABLES
KAFKA_BOOTSTRAP_SERVER="127.0.0.1:9092"
AWS_S3_BUCKET="git-logs"
AWS_ACCESS_KEY_ID="minioadmin"
AWS_SECRET_ACCESS_KEY="minioadmin"
MINIO_URL="http://localhost:9000"
