[Unit]
Description=Apache Kafka Server
After=network.target

[Service]
Type=simple
User=vagrant
Group=vagrant

ExecStart={{ kafka_bin }}/kafka-server-start.sh {{ kafka_config }}
ExecStop={{ kafka_bin }}/kafka-server-stop.sh

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
