---
apiVersion: 1

datasources:
  - name: Postgres
    type: postgres
    url: db:5432
    user: {{ postgres_user }}
    secureJsonData:
      password: {{ postgres_password }}
    jsonData:
      database: commitflow
      sslmode: 'disable'  # disable/require/verify-ca/verify-full
      maxOpenConns: 100
      maxIdleConns: 100
      maxIdleConnsAuto: true
      connMaxLifetime: 14400
      postgresVersion: 1804  # 903=9.3, 904=9.4, 905=9.5, 906=9.6, 1000=10
      timescaledb: false
